*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



body{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    
}

h1{
    color: #fff;
    margin-bottom: 10px;
   /*  outline: none;  fokuslanmani silir */
}

form {
    background-color: blue;
    width: 400px;
    height: 400px;
    border-radius: 10px;
   text-align: center;
   display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}
#form1{
    background-color: rgb(0, 255, 34);
    width: 400px;
    height: 400px;
    border-radius: 10px;
   text-align: center;
   display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}

input{
    background-color: cornflowerblue;
    padding: 10px  20px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    outline: none;
}


input::placeholder{
    color:rgb(44, 30, 25)
}



#btn{
    position: relative;
    z-index: 100 !important;
    padding: 10px;
    cursor: pointer;
}

.btn5{
    position: relative;
    z-index: -100 !important;
   
}


#Girisbtn{
   position: relative;
    cursor: pointer;
   z-index: 100;

}

